html {
    margin-top: 145px;
}

.ed_menu {
    width: calc(33% - 20px);
    padding: 160px 10px 10px 10px;
}

.ed_menu_breeder,
.ed_menu_breeder:hover {
    background-position: center 30px;
    background-size: auto 120px;
}

.ed_menu_puppy,
.ed_menu_puppy:hover {
    background-position: center 30px;
    background-size: auto 120px;
}

.ed_menu_portfolio,
.ed_menu_portfolio:hover {
    background-position: center 30px;
    background-size: auto 120px;
}

.ed_menu_contest,
.ed_menu_contest:hover {
    background-position: center 30px;
    background-size: auto 120px;
}

.ed_menu_gallery,
.ed_menu_gallery:hover {
    background-position: center 30px;
    background-size: auto 120px;
}

.blag {
    display: none;
}

.bfrm {
    display: none;
}

.navbar-brand {
    display: block;
}

#hd_nav_top .nav-item {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    border-right: none;
    padding-left: 20px;
    padding-right: 20px;
}

#hd_nav_top .nav-item:hover {
    background-color: none;
}

#hd_nav_top .nav-item .nav-link {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
}

.ab_nav_pills {
    margin-bottom: 20px;
}

.ab_nav_pills .nav-link {
    width: 100%;
}

.ab_nav_pills .nav-link:before {
    display: none;
}

.ab_nav_pills .nav-link:hover {
    background-color: #1B76BC;
    color: #ffffff;
    text-decoration: none;
}

.ab_nav_pills .nav-link:hover:before {
    border-color: transparent transparent transparent #1B76BC;
}

.ab_nav_pills .nav-link.active,
.ab_nav_pills .nav-item.show .nav-link {
    background-color: #1B76BC;
}

.w-40 {
    width: 30% !important;
}

.footer_logo {
    margin-left: auto;
    margin-right: auto;
}

.form_box {
    width: 100%;
    padding: 20px;
}

.form_box_content {
    width: 100%;
    padding: 20px;
}

.form_box_login {
    width: 100%;
    padding: 10px;
}

.tx_sm {
    font-size: 1em;
}

#hd_nav_top .navbar {
    padding: 0px;
}