@charset "utf-8";
@import url('../library/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css');
html {
    margin-top: 150px;
}

h3,
.h3 {
    font-weight: bolder;
    font-size: 1.50rem;
}

.btn-warning {
    color: #ffffff;
}

.btn-warning:hover {
    color: #fff;
}

.form-control {
    font-size: 0.8rem;
}

.table-md th,
.table-md td {
    padding: 0.5rem;
}

.rounded-2 {
    border-radius: 10px;
}

.table-responsive {
    display: table;
}

.test {
    border: 1px solid #337FE5;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F7F7;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    color: #1B76BC;
}

a.link_un {
    text-decoration: underline;
    font-weight: bold;
}

.bg_top {
    background-image: url('../images/background/bg_main_top.png');
    background-repeat: repeat-x;
    background-position: 0px 0px;
    padding-top: 20px;
}

.bg_gray_footer {
    background: #eeeeee;
}

.border_line_b {
    border-bottom: 1px solid #d8d8d8;
}

.border_line_r {
    border-right: 1px solid #d8d8d8;
}

.w-40 {
    width: 30% !important;
}

.hr_yellow {
    border: 0;
    height: 1px;
    background-color: #fcd700;
}

#btn_top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1B75BC;
    color: white;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 50%, 0.6);
}

#btn_top:hover {
    background-color: #1867a3;
}

.tx_branch {
    font-size: 16px;
}

.tx_car {
    font-size: 24px;
}

.tx_job {
    font-size: 1.2em;
}

.tx_job2 {
    font-size: 1.2em;
}

.tx_job3 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.tx_sm {
    font-size: 1.3em;
}

.tx_fb {
    font-size: 16px;
}

.tx_form {
    font-size: 17px;
}

.tx_blue_content {
    color: #1B76BC;
}

.tx_md {
    font-size: 1.3em;
    font-weight: bold;
}

.tx_yellow {
    color: #FCD700;
}

.tx_blue {
    color: #1B76BC;
}

.tx_blue_bk {
    color: #15354F;
}

.tx_blue_l {
    color: #a9d8fc;
}

.tx_red {
    color: #ff0000;
}

.tx_gray {
    color: #808080;
}

.shadow_box_10 {
    box-shadow: 2px 4px 10px hsla(0, 0%, 50%, 0.6);
}

.bg_yellow {
    background-color: #FCD700;
}

.bg_gray {
    background-color: #dddddd;
}

.bg_blue {
    background-color: #1B75BC;
}

#hd_top_bar {
    position: relative;
    background-color: #FCD700;
}

#hd_top_bar_l {
    position: relative;
    float: left;
    width: 180px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

#hd_top_bar_r {
    position: relative;
    float: right;
    width: calc(100% - 190px);
    height: 100%;
}

#hd_top_bar_logo {
    position: relative;
    float: left;
    width: 129px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
}

#hd_top_bar_tel {
    position: relative;
    float: right;
    height: auto;
    overflow: auto;
    margin-right: 20px;
    top: 50%;
    margin-top: -20px;
}

#hd_top_bar_lag {
    position: relative;
    float: right;
    width: 280px;
    height: auto;
    overflow: auto;
    text-align: center;
    align-content: center;
    top: 50%;
    margin-top: -38px;
}

.btn_lag {
    color: #1b75bc;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.btn_lag:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn_lag_nav {
    color: #ffffff;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 0.8em;
}

.btn_lag_nav:hover {
    color: #FCD806;
    text-decoration: none;
}

.hd_top {
    height: 96px;
}

#hd_nav_top .navbar {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    color: #ffffff;
    border: transparent;
    background-color: rgba(27, 118, 188, 1.0);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

#hd_nav_top .navbar-nav>li>a:hover {
    color: #1B75BC;
    background-color: #FCD806;
    border-radius: 5px;
    padding: 8px 1px 8px 1px;
    transition: all ease-in-out 0.3s;
}

#hd_nav_top .navbar-nav .nav-link {
    color: #fff;
    padding: 8px 1px 8px 1px;
}

#hd_nav_top .navbar-brand {
    padding: 17px 15px;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-brand {
    display: none;
}

.title_rv {
    position: relative;
    height: 50px;
    line-height: 50px;
    width: calc(100% - 60px);
    background-color: #FCD700;
    color: #1B76BC;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/background/bg_rv.png");
    background-position: right;
    background-repeat: repeat-y;
}

#hd_nav_top .nav-item {
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    border-right: 1px solid #a1a1a1;
    padding-left: 20px;
    padding-right: 20px;
}

#hd_nav_top .end {
    border-right: 0px solid #a1a1a1;
}

#hd_nav_top .nav-item:hover {
    background-color: #FCD700;
}

#hd_nav_top .nav-item .nav-link {
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
}

.carousel-inner {
    width: 100%;
}

.f_menu_social ul {
    margin: 0px;
    padding: 0px;
}

.f_menu_social li {
    margin-left: 0px;
    position: relative;
    float: left;
    height: auto;
    margin-right: 20px;
    list-style-type: none;
    line-height: 45px;
}

.f_menu_social img {
    width: 45px;
    height: 45px;
    margin-right: 3px;
    border-radius: 7px;
}

.footer_menu_r {
    text-align: left;
}

.footer_menu_l {
    text-align: left;
}

.footer_bottom {
    width: 100%;
    height: 10px;
    background: #1B75BC;
}

.idx_menu {
    width: 60%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.idx_menu:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sv_menu {
    width: 160px;
    height: 160px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.sv_menu:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.img_youtube_list {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    background-color: #cfcfcf;
    overflow: hidden;
}

.img_youtube_list div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content-review {
    width: 100%;
}

.youtube_box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube_box object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rv_img_list img {
    width: 100%;
    height: auto;
}

.btn_youtube {
    margin-bottom: 25px;
    font-size: 14px;
}

.btn_youtube:hover {
    cursor: pointer;
    background: #FCD700;
}

#ab_box_menu {
    position: relative;
    float: left;
    width: 310px;
    height: auto;
    overflow: auto;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
}

#ab_box_content {
    position: relative;
    float: left;
    width: calc(100% - 350px);
    height: auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
}

.ab_cn_box {
    width: 100%;
    height: auto;
    overflow: auto;
}

.ab_cn_box_logo img {
    position: relative;
    float: left;
    width: 100px;
    height: auto;
    overflow: auto;
    background-color: #fff;
}

.ab_cn_box_title {
    position: relative;
    float: right;
    width: calc(100% - 110px);
    height: auto;
    overflow: auto;
}

.tff_login {
    width: 8cm;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #f5f5dd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.tff_login .omb_socialButtons a {
    color: white;
    opacity: 0.9;
}

.tff_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.tff_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.tff_login .tff_loginOr {
    position: relative;
    font-size: 1em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-sizing: border-box;
}

.tff_login .tff_loginOr .tff_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    box-sizing: border-box;
}

.tff_login .tff_loginOr .tff_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #f5f5dd;
    width: 3em;
    text-align: center;
    box-sizing: border-box;
}

.tff_nav_side_menu {
    overflow: auto;
    background-color: #ebebeb;
    width: 100%;
    height: auto;
    color: #1867a3;
}

.tff_nav_side_menu .toggle-btn {
    display: none;
}

.tff_nav_side_menu .menu-list .menu-content {
    display: block;
}

.tff_nav_side_menu ul,
.tff_nav_side_menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
    cursor: pointer;
}

.tff_nav_side_menu ul :not(collapsed) .arrow:before,
.tff_nav_side_menu li :not(collapsed) .arrow:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    font-weight: 900;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.tff_nav_side_menu ul .active,
.tff_nav_side_menu li .active {
    background-color: #FCD700;
}

.tff_nav_side_menu ul .sub-menu li,
.tff_nav_side_menu li .sub-menu li {
    background-color: #cecdcd;
    border: none;
    line-height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    border-bottom: 1px solid #afafaf;
}

.tff_nav_side_menu ul .sub-menu li:hover,
.tff_nav_side_menu li .sub-menu li:hover {
    background-color: #b1b1b1;
}

.tff_nav_side_menu ul .sub-menu li:before,
.tff_nav_side_menu li .sub-menu li:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    font-weight: 900;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.tff_nav_side_menu li {
    padding-left: 0px;
    border-bottom: 1px solid #d1d1d1;
}

.tff_nav_side_menu li a {
    text-decoration: none;
    color: #1867a3;
}

.tff_nav_side_menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.tff_nav_side_menu li:hover {
    background-color: #b4b4b4;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.tff_nav_side_menu ul .sub-menu .logout,
.tff_nav_side_menu li .sub-menu .logout {
    background-color: #949393;
    color: #fff;
}

.job_jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/background/job1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.table_job thead tr th {
    background-color: #a9d8fc;
}

.table_job a {
    color: #353C4A;
}

.btn_fb {
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
    width: 50px;
}

.btn_fb:hover {
    border-color: #3B5998;
    background-color: #384f80;
    color: #fff;
}

.btn_fb:focus,
.btn_fb.focus {
    box-shadow: 0 0 0 2px rgba(59, 88, 152, 0.5);
}

.btn_gl {
    border-color: #FF0000;
    background-color: #FF0000;
    color: #fff;
    width: 50px;
}

.btn_gl:hover {
    border-color: #FF0000;
    background-color: rgb(201, 8, 8);
    color: #fff;
}

.btn_gl:focus,
.btn_gl.focus {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}

.la_nav_pills {
    background-color: #FCD700;
    border-bottom: 5px solid #FCD700;
    padding: 0px;
}

.la_nav_pills .nav-link {
    border-radius: 0rem;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #d6d6d6;
    border: 1px solid #ebebeb;
}

.la_nav_pills .nav-link:hover {
    color: #ffffff;
    background-color: #204e72;
    background-size: 100% 100%;
    background-position: center 0px;
    background-repeat: no-repeat;
    border: 1px solid #ebebeb;
}

.la_nav_pills .nav-link.active,
.la_nav_pills .nav-item.show .nav-link {
    color: #ffffff;
    cursor: default;
    background-color: #1B76BC;
    background-size: 100% 100%;
    background-position: center 0px;
    background-repeat: no-repeat;
    border: 1px solid #ebebeb;
}

.btn-outline-warning {
    border-color: #a3a3a3;
    color: #424242;
}

.btn-outline-warning:hover {
    color: #424242;
    background-color: #FCD806;
}

.btn_iv {
    background-color: #DAD3D3;
    color: #1B75BC;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#map-canvas {
    width: 100%;
    height: 550px;
}

.tb_head_blue th {
    color: #ffffff;
    background-color: #1B76BC;
    text-align: center;
    font-weight: normal;
}

.form_box_login {
    width: 50%;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.n_img_list {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    background-color: #cfcfcf;
    overflow: hidden;
}

.n_img_list div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.n_youtube_box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.n_youtube_box object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-footer_new {
    padding-top: 0px;
    padding-bottom: 8px;
    background: #fff;
}

.pro_img_list {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    background-color: #cfcfcf;
    overflow: hidden;
}

.pro_img_list div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sv_title {
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    height: 42px;
    color: #fff;
    font-size: 1.2em;
    line-height: 42px;
    background: #1B75BC;
    padding-left: 20px;
    padding-right: 30px;
    background-image: url(../images/background/bg_title.png);
    background-position: right;
    background-repeat: no-repeat;
}

.pm_menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    display: inline-block;
    background-color: #1B76BC;
    padding-left: 20px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
}

.pm_menu:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 14px;
    left: 100%;
    border-width: 10px;
    border-color: transparent transparent transparent #1B76BC;
    border-style: solid;
}

.pm_menu:hover {
    background-color: #114d7a;
    color: #ffffff;
    text-decoration: none;
}

.pm_menu:hover:before {
    border-color: transparent transparent transparent #114d7a;
}

.pm_img_list {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    background-color: #cfcfcf;
    overflow: hidden;
}

.npm_img_list div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.a_que_box {
    border-radius: 4px;
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    background-color: #fcd700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    text-decoration: none;
}

.a_que_box:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 14px;
    left: -19px;
    border-width: 10px;
    border-color: transparent #fcd700 transparent transparent;
    border-style: solid;
}

.a_box_l {
    position: relative;
    float: left;
    width: 90px;
    height: auto;
}

.a_box_r {
    position: relative;
    float: left;
    width: calc(100% - 90px);
    height: auto;
    box-sizing: border-box;
}

.btn-outline-warning {
    border-color: #a3a3a3;
    color: #424242;
}

.btn-outline-warning:hover {
    color: #424242;
    background-color: #FCD806;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.form_box {
    width: 90%;
    height: auto;
    overflow: auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form_box_content {
    width: 90%;
    height: auto;
    overflow: auto;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

form.required {}

label.error {
    color: red;
    font-size: 14px;
}

input[type='text'].error {
    border: 2px solid #fd9f9f;
    background: #FBEFEF;
}

input[type='email'].error {
    border: 2px solid #fd9f9f;
    background: #FBEFEF;
}

input[type='password'].error {
    border: 2px solid #fd9f9f;
    background: #FBEFEF;
}

input[type='radio'].error {
    border: 2px solid #fd9f9f;
    background-color: #FBEFEF;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
}

input[type='checkbox'].error {
    border: 2px solid #fd9f9f;
    background-color: #FBEFEF;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
}

select.error {
    border: 2px solid #fd9f9f;
    background: #FBEFEF;
}

input[type='file'].error {
    background: #FBEFEF;
}

textarea.error {
    background: #FBEFEF;
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-content-pane {
    height: auto;
    overflow: auto;
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-content {
    height: auto;
    overflow: auto;
    font-size: 14px;
}

#fancy_title {
    width: 100%;
    height: auto;
    background-color: #3097FF;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    color: #ffffff;
}

#fancy_box {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #1B76BC;
}

.btn-primary:hover {
    background-color: #1a69a5;
}


.ab_nav_pills .nav-link {
    border-radius: 0px;
    width: 100%;
    height: auto;
    line-height: 35px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    padding-left: 10px;
    box-sizing: border-box;
    color: #337FE5;
    text-decoration: none;
    background-color: #DAD3D3;
}

.ab_nav_pills .nav-link:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 50%;
    margin-top: -10px;
    left: 100%;
    border-width: 8px;
    border-color: transparent transparent transparent transparent;
    border-style: solid;
}

.ab_nav_pills .nav-link:hover {
    background-color: #ECE9E9;
    color: #337FE5;
    text-decoration: none;
}

.ab_nav_pills .nav-link:hover:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.4em;
    content: "\f105";
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: calc(100% - 30px);
}

.ab_nav_pills .nav-link.active:hover {
    color: #fff;
}

.ab_nav_pills .nav-link.active:hover:before {
    border-color: transparent transparent transparent #1B76BC;
    content: '';
    top: 50%;
    margin-top: -10px;
    left: 100%;
}

.ab_nav_pills .nav-link.active,
.ab_nav_pills .nav-item.show .nav-link {
    background-color: #1B76BC;
}

.ab_nav_pills .nav-link.active:before,
.ab_nav_pills .nav-item .show .nav-link:before {
    border-color: transparent transparent transparent #1B76BC;
}

.footer_logo {
    width: 240px;
    height: auto;
    text-align: center;
}

.tb_fix table {
    min-width: 800px;
}

.googlemap_d {
    width: 100%;
}

.googlemap_d ul {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.googlemap_d li {
    font-family: 'Prompt', sans-serif;
    display: block;
    float: left;
    width: calc(100% - 80px);
    padding: 1px;
}

.googlemap_d li.st {
    font-family: 'Prompt', sans-serif;
    display: block;
    float: left;
    width: 80px;
    padding: 1px;
}

.carprice_img_view img {
    width: 640px;
    height: auto;
}
.carprice_box {
    position: relative;
    float: left;
    width: 640px;
    height: auto;
    margin-bottom: 15px;
}