html {
    margin-top: 150px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.ab_title {
    font-size: 24px;
}

#ab_box_menu {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

#ab_box_content {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.nav-pills .nav-link:hover {
    background-color: #E6E6E6;
    background-image: none;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
    background-color: #FCD700;
    background-image: none;
}

#hd_top_bar {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#hd_top_bar_tel {
    margin-right: 5px;
}

.blag {
    display: none;
}

.bfrm {
    display: none;
}

.navbar-brand {
    display: block;
}

.f_menu_social li {
    float: none;
    text-align: center;
    margin-right: 0px;
}

.footer_menu_r {
    text-align: center
}

.footer_menu_l {
    text-align: center
}

#hd_nav_top .nav-item {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    border-right: none;
    padding-left: 20px;
    padding-right: 20px;
}

#hd_nav_top .nav-item:hover {
    background-color: none;
}

#hd_nav_top .nav-item .nav-link {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
}

.ab_nav_pills {
    margin-bottom: 20px;
}

.ab_nav_pills .nav-link {
    width: 100%;
}

.ab_nav_pills .nav-link:before {
    display: none;
}

.ab_nav_pills .nav-link:hover {
    background-color: #1B76BC;
    color: #ffffff;
    text-decoration: none;
}

.ab_nav_pills .nav-link:hover:before {
    border-color: transparent transparent transparent #1B76BC;
}

.ab_nav_pills .nav-link.active,
.ab_nav_pills .nav-item.show .nav-link {
    background-color: #1B76BC;
}

.w-40 {
    width: 65% !important;
}

.pm_menu {
    width: 100%;
}

.pm_menu:before {
    display: none;
}

.pm_menu:hover {
    background-color: #114d7a;
    color: #ffffff;
    text-decoration: none;
}

.pm_menu:hover:before {
    display: none;
}

.footer_logo {
    margin-left: auto;
    margin-right: auto;
}

.idx_menu {
    width: 100%;
}

.form_box {
    width: 100%;
    padding: 10px;
}

.form_box_content {
    width: 100%;
    padding: 10px;
}

.form_box_login {
    width: 100%;
    padding: 10px;
}

.tx_branch {
    font-size: 12px;
}

.tx_car {
    font-size: 20px;
}

.tx_job {
    font-size: 15px;
}

.tx_job2 {
    font-size: 21px;
}

.tx_job3 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
}

.tx_sm {
    font-size: 12px;
}

#hd_nav_top .navbar {
    padding: 0px;
}

.title_rv {
    background-image: url("../images/background/bg_rv_sm.png");
}