@charset "utf-8";
body,
td,
th {
    font-family: "Tahoma";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

div {
    /* border: 1px solid #ff0004; */
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #3097FF;
    overflow: hidden;
    background-image: url(../images/icon/logo_Backoffice.jpg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

#header_bar {
    width: 100%;
    min-width: 800px;
    height: auto;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

#header_bar a {
    text-decoration: none;
    color: #000;
}

#header_bar a:hover {
    color: #F9FF23;
}

#nav {
    position: fixed;
    top: 45px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    /*	background-color: #E7E7E7;*/
    background-color: #FFF;
}

#side {
    position: fixed;
    top: 76px;
    left: 0px;
    height: calc(100% - 80px);
    width: 300px;
    background-color: #FFF;
    overflow: auto;
    box-sizing: padding-box;
}

#side .menu_side {
    height: auto;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

#side .menu_side ul {
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#side .menu_side li a {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #000;
    margin-bottom: 1px;
    padding-left: 5px;
    box-sizing: border-box;
}

#side .menu_side li a:hover {
    color: #FFF;
    background-color: #D10003;
}

.menu_side_admin {
    height: auto;
    width: 99%;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
}

.menu_side_admin ul {
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu_side_admin li a {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 1px;
    padding-left: 5px;
    box-sizing: border-box;
    background-color: #D10003;
}

.menu_side_admin li a:hover {
    color: #FFF;
    background-color: #770f10;
}

#containner {
    position: fixed;
    width: calc(100% - 302px);
    left: 302px;
    top: 76px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

#main {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}

#main_content {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

.main_content_title {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #373737;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.alert_table {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #FCFFE6;
    color: darkgoldenrod;
    box-sizing: border-box;
    border: 1px solid darkgoldenrod;
}

#main_left-sm {
    float: left;
    width: 220px;
    position: relative;
    margin-right: 10px;
    overflow: auto;
}

#main_left-ml {
    float: left;
    width: 300px;
    position: relative;
    margin-right: 10px;
    overflow: auto;
}

#main_content-sm {
    float: right;
    width: calc(100% - 240px);
    margin-bottom: 30px;
    position: relative;
    clear: none;
    overflow: auto;
}

#main_content-ml {
    float: right;
    width: calc(100% - 370px);
    margin-bottom: 30px;
    position: relative;
    clear: none;
    overflow: auto;
}

.main_content_sub {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
    background: none;
}


/* login */

#login_t {
    background-color: rgba(28, 217, 28, 1.00);
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
}

#login_b {
    width: 480px;
    height: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(231, 242, 255, 1.00);
}


/* error  */

#error {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #EBD523;
    border-bottom-color: #EBD523;
    background-color: #FDFBD9;
    padding-left: 180px;
    background-image: url(../images/icon/anw_error.png);
    background-repeat: no-repeat;
    background-position: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

#success {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-top: 3px solid #66CC33;
    border-bottom: 3px solid #66CC33;
    background-color: #BEFF8A;
    padding-left: 180px;
    background-image: url(../images/icon/anw_success.png);
    background-repeat: no-repeat;
    background-position: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

#error_bar {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #eb2323;
    border-bottom-color: #eb2323;
    background-color: #fdd9d9;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #be1e1e;
}

#success_bar {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top: 3px solid #66CC33;
    border-bottom: 3px solid #66CC33;
    background-color: #BEFF8A;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #5caf32;
}


/* === Validation === */

form.required {}

label.error {
    float: none;
    color: red;
    font-size: 14px;
    font-style: italic;
    display: none;
    margin-left: 3px;
}

input.error {
    background: #FBEFEF;
}

select.error {
    background: #FBEFEF;
}

file.error {
    background: #FBEFEF;
}

textarea.error {
    background: #FBEFEF;
}


/* fancybox */

#fancy_title {
    width: 100%;
    height: auto;
    background-color: #3097FF;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    color: #ffffff;
}

#fancy_box {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

#fancy_sucess {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #c0ff97;
    /* overflow: hidden; */
    box-sizing: border-box;
    /* color: #ffffff; */
    text-align: center;
    vertical-align: middle;
}


/* papeging */

.pi_box {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto;
    box-sizing: border-box;
}

.pi_box_l {
    position: relative;
    float: left;
    width: 33%;
    height: auto;
    text-align: left;
}

.pi_box_m {
    position: relative;
    float: left;
    width: 33%;
    height: auto;
    text-align: center;
}

.pi_box_r {
    position: relative;
    float: right;
    width: 33%;
    height: auto;
    text-align: right;
}

.pi_btn {
    display: block;
    width: 20px;
    height: auto;
    padding: 5px;
    background: #3097FF;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
}

.pi_btn:hover {
    background: #185da1;
}

.pi_l {
    position: relative;
    float: left;
    margin: 0 3px 0 0;
}

.pi_r {
    position: relative;
    float: right;
    margin: 0 0 0 3px;
}


/* === text === */

.tx_header_name {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
}

.tx_error {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.tx_error_n {
    color: red;
    font-size: 14px;
}

.tx_red {
    color: red;
}

.tx_green {
    color: green;
}

.tx_none {
    color: #dadada;
}

.tx_normal {
    font-family: Tahoma;
    font-size: 14px;
}

.tx_label {
    font-family: Tahoma;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}


/* === images === */

.img_full img {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

.img_rv_list img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 5px;
}

.img_sv_list img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 5px;
}

.img_bch_list img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

.img_ban_list img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

.img_ban_side_list img {
    width: 200px;
    height: auto;
}

.img_ban_side_list {
    width: 200px;
    height: 200px;
    ;
    overflow: hidden;
    background-color: #979797;
}


/* === menu admin === */

#menu_admin {
    font-size: 14px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FFFFD0;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
    background-color: #EAEAEA;
    margin: 2px;
}

.btn a {
    text-decoration: none;
    display: block;
    color: #2B2B2B;
}

.btn:hover {
    color: #F5EE7A;
    background-color: #D1D1D1;
}

.btn_green {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid #a5bed8;
    border-radius: 4px;
    background-color: #d9ecff;
    margin: 2px 2px 10px 2px;
}

.btn_green a {
    text-decoration: none;
    display: block;
    color: #2B2B2B;
}

.btn_green:hover {
    background-color: #c4def8;
}


/* table */

table.tb1 {
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table.tb1 th {
    height: 35px;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.tb1 td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

table.tb1 tr:hover td {
    background-color: #E8F8FF;
}

.box_form {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #cacaca;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.box_form_print {
    width: 800px;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* car */

.car_img_full img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* Company */

.img_cn_list img {
    width: 100px;
    height: auto;
    margin: 5px;
}


/* article */

.img_a_list img {
    width: 200px;
    height: auto;
    margin: 5px;
}


/*loan*/

a.l_status_r {
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    background-color: #d82222;
    border-radius: 3px;
    text-align: center;
}

a.l_status_s {
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    background-color: #66CC33;
    border-radius: 3px;
    text-align: center;
}


/* news */

.box_n {
    position: relative;
    float: left;
    width: 180px;
    height: auto;
    margin: 5px;
}

.img_n_list img {
    width: 180px;
    height: auto;
}

.img_n_list {
    width: 180px;
    height: 100px;
    margin: 5px;
    overflow: hidden;
}

.img_n_full img {
    width: 480px;
    height: auto;
    margin: 5px;
}


/* Product */

.img_pro_list img {
    width: 180px;
    height: auto;
}

.img_pro_list {
    width: 180px;
    height: 120px;
    margin: 5px;
    overflow: hidden;
    background-color: #666666;
}


/* service */

.sv_img_full img {
    width: 100%;
    height: auto;
}


/* promotion */

.img_pm_list img {
    width: 200px;
    height: auto;
}

.img_pm_list {
    width: 200px;
    height: calc(200px * 0.6);
    margin: 5px;
    overflow: hidden;
    background-color: #666666;
}

.img_pm_full img {
    width: 400px;
    height: auto;
}

/* ราคากลาง model */
.carprice_img_list img {
    width: 80px;
    height: auto;
}
.carprice_img_view img {
    width: 640px;
    height: auto;
}
.carprice_box {
    position: relative;
    float: left;
    width: 640px;
    height: auto;
    margin-bottom: 15px;
}